<mat-card class="app-card">
  <mat-card-header>
    <mat-card-title>
      <p contenteditable="true" class="w-100" #titleRef>{{file.customName}}</p>
    </mat-card-title>
  </mat-card-header>

  <div class="app-card__extension d-flex align-items-center">
    <span>Extension : </span>
    <span class="app-card__extension">{{file.ext}}</span>
  </div>
  <mat-card-content>
    <div class="app-card__description">

      <div class="app-card__description__field">
        <span class="app-card__description__key me-3 font-weight-bold">
          Size :
        </span>
        <span class="app-card__description__value">
          {{file.size}}
        </span>
      </div>
      <div class="app-card__description__field">
        <span class="app-card__description__key me-3 font-weight-bold">
          Mime Type :
        </span>
        <span class="app-card__description__value">
          {{file.mimeType}}
        </span>
      </div>

    </div>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between" align="end">
    <button (click)="onEdit()" class="btn-warning" mat-raised-button>Edit</button>
    <div class="d-flex">
      <button (click)="onDownload()" mat-raised-button color="primary">Download</button>
      <button mat-raised-button color="warn">Remove</button>
    </div>
  </mat-card-actions>
</mat-card>