<div class="row my-4">
<div class="row">
  <div class="col-lg-4 col-md-6 col-12 mb-4">
    <app-file-filter></app-file-filter>
  </div>
</div>
<h1 *ngIf="isLoading">Loading</h1>
<div *ngIf="!isLoading" class="row">
  <div 
    *ngFor="let file of userFiles"
    class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4"
  >
    <app-file-item [file]="file"></app-file-item>
  </div>

</div>

<div class="app-upload-button">
  <button mat-fab color="primary" (click)="openDialog()" aria-label="Example icon button with a bookmark icon">
    <mat-icon>cloud_upload</mat-icon>
  </button>
</div>