.app-card {
  .app-card__extension {
    background-color : #ebebeb;
    padding : 1rem;
    min-height : 3rem;
  }
}

.app-card__description {
  padding : .5rem;

  .app-card__description__field {
    display : flex;
    border-bottom : 1px solid #d6d6d6;
    padding-bottom : .5rem;
    margin-bottom : .5rem;
    
    .app-card__description__key {
      font-weight: bold;
    }

    .app-card__description__value {

    }
  }
}

.app-upload-button {
  position : fixed;
  display : inline-block;
  width : 5rem;

  right : 0;
  bottom : 1rem;

}