/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  color : #000 !important;
  text-decoration : none !important;
}

.mat-tab-labels {
  justify-content: center;
}

.mat-tab-header {
  margin-bottom : 1rem;
}

.mat-card-header-text {
  overflow: hidden;
}